{% extends 'index.html' %}

{% load static %}

{% block Home %}


<form action="" method="get">
    <h3>Buscador de estudiantes por apellido</h3>

    <input type="text" name="apellido" id="apellido">

    <input type="submit" value="Buscar">

</form>

{% if estudiantes %}
    
    {% for estudiante in estudiantes %}
        <ul>
            <li>Nombre: {{estudiante.nombre}}</li>
            <li>Apellido: {{estudiante.apellido}}</li>
            <li>email: {{estudiante.email}}</li>
            <li>DNI: {{estudiante.dni}}</li>
        </ul>
    {% endfor %}
{% else %}
    <p>No hay datos</p>

{% endif %}

{% endblock %}